body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0px;
  display: block;
  text-align: left;
}

html, div, canvas {
  margin: 0;
  padding: 0;
  text-align: left;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form-inner {
  padding: 40px;
}
input, textarea {
display: block;
width: 100%;
padding: 15px;
margin-bottom: 10px;
border: none;
border-radius: 10px;
background: #d0dfe8;
}
textarea {
resize: none;
}
button {
width: 50%;
padding: 10px;
margin-top: 20px;
border-radius: 20px;
border: none;
border-bottom: 4px solid #7B1818;
background: #880808; 
font-size: 16px;
font-weight: 400;
color: #fff;
}

.left {
  float: left;
}

.right {
  float: right;
}