body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0px;
  display: block;
  text-align: left;
}

html,
div,
canvas {
  margin: 0;
  padding: 0;
  text-align: left;
  vertical-align: middle;
  margin-left: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.form-inner {
  padding: 40px;
}

h1 {
  text-align: center;
}

input,
textarea,
select {
  display: block;
  width: 100%;
  font-size: 16px;
  padding: 15px;
  margin-bottom: 10px;
  border: none;
  border-radius: 0px;
  background: #d0dfe8;
}

.disabled {
  background-color: #7a749f;
  color: #fff;
}
.contextMenu button {
  background: #6272a4;
  border-radius: 0px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

label {
  font-size: 20px;
  margin-bottom: 10px;
}

button {
  width: 50%;
  padding: 10px;
  margin-top: 20px;
  border-radius: 20px;
  border: none;
  border-bottom: 4px solid #5b6a96;
  background: #6272a4;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.left {
  float: left;
  padding: 30px;
}

.right {
  float: right;
  padding: 0px;
  padding-right: 40px;
}

.legendComp {
  width: 20%;
  vertical-align: center;
  background-color: #6272a4;
  float: left;
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  margin-left: 0;
}
